body {
	margin: 0px;
	background: #803300 url('../img/gora_sample.png') repeat-x center top;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #999; 
}

#cookies {
	margin: 0px auto;
	width: 865px;
	height: 40px;
	//border: 1px solid white;

}

#cookies a {
	margin: 0; 
	padding: 10px 30px 0px 23px;
	line-height: 1.3em;
	color: #f7f6f0;
	font-size: 0.9em;
	font-weight: normal;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-shadow: black 0em 0.2em 0.2em;
}

#cookies a:hover {
    	color: #999;
}

#gora {
	background: url('../img/gora.png') no-repeat center top;
	margin: 0px auto;
	width: 865px;
	height: 395px;
	//border: 1px solid white;

}

#gora h1 {
	margin: 0;
	position: absolute;
	padding: 18px 0 0 295px; 
	line-height: 1.3em;
	color: #999;
	font-size: 0.9em;
	font-weight: normal;
	//text-shadow: #black 0em 0.3em 0.2em;
}

#menu {
	width: 630px;
	height: 55px;
	margin: 330px 0px 0px 0px;  
	float: right;
	//border: 1px solid white;
}

#menu ul {
	margin: 0;
	padding: 5px 0 0 40px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: right;
	height: 29px;
	padding: 10px 18px;
	text-decoration: none;
	color: #f7f6f0;
	text-shadow: black 0em 0.2em 0.2em;
}

#menu a:hover {
	color: #999;
	
}

#menu-lvl-1 {}
 
#lvl-1 {
    	position: relative;
    	float: left;
}
 
#lvl-1:hover a {
    	color:#999;
}

#menu-lvl-2 {
	margin: 35px 0px 0px 0px;
    	position: absolute;
	/* padding: 0px 0px 0px 0px; */
    	width: 305px;
    	display: none;
	z-index: 3;
    	background: url(../);
	
}
 
#lvl-2 {
    	position: relative; 
}

#lvl-1:hover #menu-lvl-2 {
    	display: block;
	margin: 35px 0px 0px -18px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #999;
	/* border-top: 1px solid #999; */
}

#lvl-1:hover #lvl-2 a {
    	color: #f7f6f0;
    	text-decoration: none;
    	background: #552200;
	border-top: 1px solid #999;
	width: 250px;
	height: 22px;
	padding: 5px 20px 5px 35px;
	
}
 
#lvl-1:hover #lvl-2 a:hover {
    	color:#fff;
}
 
#lvl-1:hover #lvl-2:hover a {
    	color:#999;
}

#strona {
	width: 833px;
	margin: 0px auto;
	overflow: hidden;
	height: 100%;
	/* border: 1px solid white; */
}

#strona p {
	text-align: justify;
}


#margines {
	float: left;
	width: 220px;
	padding: 0px 0 0 5px;
	//border: 1px solid white;
}


#margines ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#margines li ul {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#margines li {
	padding: 5px 20px 5px 35px;
	background: url(img/znacznik.png) no-repeat 20px 50%;
	border-bottom: 1px solid #999;
	
}

#margines h1 {
	margin: 0;
	padding: 24px 0 5px 20px;
	border-bottom: 1px solid #999; 
	//font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: black 0em 0.2em 0.2em;
	
}


#margines a {
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #f7f6f0;
	border: none; 
}

#margines img {
	border: none;
}

#margines a:hover {
	text-decoration: underline;
}

#srodek {
	float: right;
	width: 542px;
	padding: 0px 15px 15px 0px;
	//border: 1px solid white;
}

#srodek h1 {
	margin: 0;
	padding: 1px 0 3px 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	//border-bottom: 1px solid #999; 
	color: #f7f6f0;
	font-size: 1.6em;
	text-shadow: black 0em 0.2em 0.2em;
}

#srodek h2 {
	margin: 0;
	padding: 5px 0 3px 0px;
	color: #999;
	font-size: 0.9em;
	font-weight: normal;
	text-shadow: black 0em 0.2em 0.2em;
}

#srodek h3 {
	margin: 0;
	padding: 20px 0 3px 0px;
	//border-bottom: 1px solid #999; 
	color: #f7f6f0;
	font-size: 14px;
	font-weight: bold;
	text-shadow: black 0em 0.2em 0.2em;
}

#srodek h4 {
	margin: 0;
	padding: 5px 0 3px 0px;
	//border-bottom: 1px solid #999; 
	color: #999;
	font-size: 0.9em;
	font-weight: bold;
	text-shadow: black 0em 0.2em 0.2em;
}

#srodek h5 {
	margin: 0;
	padding: 5px 0 3px 0px;
	//border-bottom: 1px solid #999; 
	color: #f7f6f0;
	font-size: 14px;
	font-weight: bold;
	text-shadow: black 0em 0.2em 0.2em;
}

#srodek img {
	border: none;
}

#srodek p {
	color: #f7f6f0;
	//font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	//border: 1px solid white;
}

#srodek ul {
	text-align: justify;
}

#srodek li {
	color: #f7f6f0;
}

#srodek hr {
	border: none;
	height: 1px;
}


#srodek a:link {
	color: #f7f6f0;
	
}	

#srodek a:visited {
	color: #f7f6f0;
	
}	

#srodek a:hover {
	color: #f7f6f0;
}	

#srodek td {
	text-align: center;
	border-top: 1px solid #999; 
	border-bottom: 1px solid #999; 
	border-right: 1px solid #999;
}

#srodek td p {
	text-align: center;
	font-size: 0.9em;
	//font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#stopka {
	background: url(img/stopka.png) no-repeat center top;
	margin: 0px auto;
	width: 865px;
	//height: 50px;
	//border: 1px solid white;
}


#stopka p {
	margin: 0px auto;
	padding-top: 15px;
	//border-bottom: 1px solid #999; 
	color: #f7f6f0;
	font-size: 0.8em;
	//font-weight: bold;
	text-align: center;
	text-shadow: black 0em 0.2em 0.2em;
}

#stopka a:link {
	color: #999;
	font-size: 1.2em;
	text-decoration: none;
}

#stopka a:visited {
	color: #999;
	font-size: 1.2em;
	text-decoration: none;
}

#stopka a:hover {
	color: #999;
	font-size: 1.2em;
	text-decoration: underline;
}


/* Sample PopBox CSS Classes */
/* PopBox.js, Copyright (c) 2007, C6 Software, Inc. (http://www.c6software.com/)*/
.PopBoxImageSmall
{
border: none 0px #ffffff;
cursor: url("images/magplus.gif"), pointer;
}
.PopBoxImageLarge
{
border: none; solid 1px #999999;
cursor: url("images/magminus.gif"), pointer;
}
.PopBoxImageShrink
{
cursor: url("images/magminus.gif"), pointer;
}
.PopBoxImageLink
{
cursor: pointer;
}
.PopBoxImageMove
{
border: none 0px #ffffff;
cursor: pointer;
}